include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include requirements.txt
recursive-include thadminjones *.html *.png *.gif *.js *.jpg *.jpeg *.svg *.py *.css *.eot *.ttf *.woff
