{% if apps %}
    <div id="thadminjones--fakedbackground"></div>
    <div id="thadminjones--fakedbackground2"></div>
    <ol class="thadminjones--apps">
{% for app in apps %}
    <li class="thadminjones--apps-collection {% if app.app_url in path %}thadminjones--ancestry{% endif %}">

        <a href="{{ app.app_url }}" class="thadminjones--apps--link {% if forloop.first %}first{% endif %} {% if forloop.last %}last{% endif %}">
            <i class="icon-list-alt">&quot;</i>
            {{ app.name }}
        </a>
        {% if app.models %}
        <ol class="thadminjones--apps--models">
        {% for model in app.models %}
            <li class="thadminjones--{% if model.admin_url in path %}ancestry{% else %}sibling{% endif %}">
                {% if model.admin_url in path %}
                <i class="icon-angle-right">$</i>
                {% endif %}
                {% if model.admin_url %}
                <a href="{{ model.admin_url }}" class="thadminjones--apps--models--link">{{ model.name }}</a>
                {% else %}
                {{ model.name }}
                {% endif %}
            </li>
        {% endfor %}
        </ol>
        {% endif %}
    </li>
{% endfor %}
    </ol>
{% endif %}
