@font-face {
  font-family: 'fontello';
  src: url('fontello.eot?83197340');
  src: url('fontello.eot?83197340#iefix') format('embedded-opentype'),
       url('fontello.woff?83197340') format('woff'),
       url('fontello.ttf?83197340') format('truetype'),
       url('fontello.svg?83197340#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}


.icon-home,
.icon-plus,
.icon-list-alt,
.historylink:before,
.object-tools .addlink:before,
.viewsitelink:after,
.icon-angle-right {
  font-family: "fontello" !important;
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  /*margin-right: 0.2em;*/
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  /*margin-left: .2em;*/

  /* you can be more comfortable with increased icons size */
   /*font-size: 120%;*/

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.historylink:before { content: '\22'; margin-right: 0.3em; font-size: 110%; } /* '&quot;' */
.object-tools .addlink:before { content: '\23'; } /* '#' */
.viewsitelink:after { content: '\24'; margin-left: 0.3em; } /* '$' */

.headlines {
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
}

label {
    cursor: pointer;
    vertical-align: middle;
}

a:link, a:visited {
    color: #21759b;
}

body.login {
    background-color: #fbfbfb;
}

body.login #branding h1 {
    color: #777;
    background: white;
    padding: 0;
}

body.login #container {
    padding: 26px 24px 24px;
    font-weight: normal;
    background: #fff;
    border: 1px solid #e5e5e5;
    -moz-box-shadow: rgba(200,200,200,0.7) 0 4px 10px -1px;
    -webkit-box-shadow: rgba(200,200,200,0.7) 0 4px 10px -1px;
    box-shadow: rgba(200,200,200,0.7) 0 4px 10px -1px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

body.login .form-row {
    margin: 0 auto;
    padding: 0;
}

body.login .form-row input {
    color: #555;
    font-weight: 200;
    font-size: 24px;
    line-height: 1;
    width: 100%;
    padding: 3px;
    margin-top: 2px;
    margin-right: 6px;
    margin-bottom: 16px;
    border: 1px solid #e5e5e5;
    background: #fbfbfb;
    outline: 0;
    -moz-box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
    -webkit-box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
    box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body.login .form-row label {
    float: none;
    color: #777;
    font-size: 14px;
}

.login .form-row #id_username,
.login .form-row #id_password {
    width: 100%;
}

body.login .submit-row input {
    float: right;
}

body.login .submit-row {
    padding: 0;
    overflow: hidden;
}

body.login #content {
    margin: 0;
}

.dashboard #content-main .module th {
    color: #bbb;
}

#header {
    background-color: #464646;
    background-image: -ms-linear-gradient(bottom,#373737,#464646 5px);
    background-image: -moz-linear-gradient(bottom,#373737,#464646 5px);
    background-image: -o-linear-gradient(bottom,#373737,#464646 5px);
    background-image: -webkit-gradient(linear,left bottom,left top,from(#373737),to(#464646));
    background-image: -webkit-linear-gradient(bottom,#373737,#464646 5px);
    background-image: linear-gradient(bottom,#373737,#464646 5px);
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    overflow: visible;
    color: #ccc;
}

#user-tools a:link,
#user-tools a:visited {
    color: #888;
}

#branding {
    float: left;
}

#branding #site-name {
    float: left;
    margin: 0;
    font-size: 1em;
    /*padding: 0.5em;*/
    padding: 0;
    border-right: 1px solid #333;
}

#branding #site-name a {
    text-decoration: none;
    padding: 0.5em 1em 0.5em 0.5em;
    display: block;
    border-right: 1px solid #555;
}

#user-tools {
    position: static;
    float: right;
    margin: 0;
    padding: 0.5em;
    font-size: 1em;
}

#thadminjones--fakedbackground {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: -1;
    width: 145px;
    background-color: #ececec;
}
#thadminjones--fakedbackground2 {
    background-image: url(../images/menu-shadow.png);
    background-position: top right;
    background-repeat: repeat-y;
    position: fixed;
    top: 0;
    left: 139px;
    bottom: 0;
    z-index: 1;
    width: 6px;
}

body.popup .thadminjones--apps,
body.popup #thadminjones--fakedbackground,
body.popup #thadminjones--fakedbackground2 {
    display: none;
}

.thadminjones--apps {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #ececec;
    width: 145px;
    position: relative;
    float: left;
}

.thadminjones--apps--models {
    margin: 0;
    padding: 0;
    list-style: none;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D6D6D6;
    display: none;
}

.thadminjones--apps--link {
    display: block;
    border-top: 1px solid #f9f9f9;
    border-bottom: 1px solid #dfdfdf;
    padding: 5px 5px 5px 10px;
    /*color: #21759b !important;*/
}

.thadminjones--apps--link.first {
    border-top: none;
}

.thadminjones--apps--link.last {
    border-bottom: none;
}

.thadminjones--apps--link:hover {
    background: #e4e4e4;
}


.thadminjones--apps--models--link {
    display: block;
    background-color: white;
    border: 0;
    padding: 5px 5px 5px 10px;
    /*color: #21759b !important;*/
}

.thadminjones--apps--models--link:hover {
    background-color: #eaf2fa;
    color: #464646 !important;
}

.thadminjones--apps--models--notarget {
    color: #bbb;
}

.thadminjones--apps--models--notarget:hover {
    background-color: white;
    color: #bbb !important;
    cursor: no-drop;
}

.thadminjones--ancestry .icon-angle-right {
    padding-top: 5px;
    padding-right: 0.35em;
}

.thadminjones--ancestry .thadminjones--apps--models {
    display: block;
}

/*.thadminjones--apps-collection:hover .thadminjones--apps--link,*/
.thadminjones--ancestry .thadminjones--apps--link {
    display: block;
    border-top: 1px solid #808080;
    border-bottom: 1px solid #6d6d6d;
    text-shadow: 0 -1px 0 #333;
    color: white !important;
    background-color: #777;
    background-image: -ms-linear-gradient(bottom,#6d6d6d,#808080);
    background-image: -moz-linear-gradient(bottom,#6d6d6d,#808080);
    background-image: -o-linear-gradient(bottom,#6d6d6d,#808080);
    background-image: -webkit-gradient(linear,left bottom,left top,from(#6d6d6d),to(#808080));
    background-image: -webkit-linear-gradient(bottom,#6d6d6d,#808080);
    background-image: linear-gradient(bottom,#6d6d6d,#808080);
}

.thadminjones--ancestry .thadminjones--ancestry .thadminjones--apps--models--link {
    color: #464646 !important;
    font-weight: bold;
}

.thadminjones--quickadd,
.thadminjones--recentactions {
    list-style: none;
    position: relative;
    float: left;
    z-index: 99999;
    border-right: 1px solid #555;
}

.thadminjones--quickadd {
    /*border-left: 1px solid #555;*/
    /*margin: 0 0 0 1em;*/
    margin: 0;
}

.thadminjones--quickadd--title,
.thadminjones--recentactions--title {
    border-right: 1px solid #333;
    padding: 0.5em 1em;
    display: block;
}

.thadminjones--quickadd--title {
    /*border-left: 1px solid #333;*/
}

.thadminjones--recentactions--title {
    color: #888;
}
.thadminjones--recentactions:hover .thadminjones--recentactions--title {
    color: #464646;
}

.thadminjones--quickadd--modellist,
.thadminjones--recentactions--modellist {
    margin: 0 0 0 -1px;
    list-style: none;
    padding: 0;
    -moz-box-shadow: 0 4px 4px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 4px 4px rgba(0,0,0,0.2);
    box-shadow: 0 4px 4px rgba(0,0,0,0.2);
    background: #fff;
    display: none;
    position: absolute;
    float: none;
    border: 1px solid #dfdfdf;
    border-top: 0;
}

.thadminjones--quickadd:hover,
.thadminjones--recentactions:hover {
    background: white;
    color: #464646;

}

.thadminjones--quickadd:hover .thadminjones--quickadd--title,
.thadminjones--recentactions:hover .thadminjones--recentactions--title {
    /*border-left: 1px solid white;*/
    border-right: 1px solid white;
    cursor: pointer;
}

.thadminjones--quickadd:hover .thadminjones--quickadd--modellist,
.thadminjones--recentactions:hover .thadminjones--recentactions--modellist {
    display: block;
}


.thadminjones--quickadd--model--link,
.thadminjones--recentactions--model--link {
    line-height: 1;
    padding: 0.75em 0.75em 0.75em 1em;
    text-shadow: none;
    white-space: nowrap;
    min-width: 5em;
    max-width: 15em;
    color: #21759b !important;
    display: block;
}

.thadminjones--quickadd--model--link:hover,
.thadminjones--recentactions--model--link:hover {
    background-color: #eaf2fa;
    text-decoration: none !important;
}

/*.thadminjones--filters--wrap {*/
    /*position: relative;*/
    /*border: 1px solid #b5b5b5;*/
    /*border-radius: 4px;*/
    /*background-color: #f1f1f1;*/
    /*display:inline-block;*/
    /*box-shadow: 0 1px 3px rgba(0,0,0,.13), inset 0 1px 0 #fff;*/
    /*color: 0 1px 3px rgba(0,0,0,.13), inset 0 1px 0 #fff;*/
    /*background-image: linear-gradient(bottom, #dcdcdc 0%, #dcdcdc 2%, #f3f3f3 100%);*/
/*}*/

/*.thadminjones--filters {*/
    /*float: left;*/
    /*position: relative;*/
    /*z-index: 2;*/
    /*display: block;*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*-moz-appearance: window;*/
    /*background: transparent;*/
    /*background-color: transparent;*/
    /*border: none;*/
    /*-webkit-appearance: none;*/
    /*appearance: none;*/
/*}*/



#changelist-filter label {
    margin: 0 2em 0 0;
}


div.breadcrumbs {
    margin-left: 145px;
    padding-left: 20px;
    padding-top: 10px;
    border: 0;
    display: none;
}

body.popup #content {
    margin: 1em;
}

#content {
    height: 100%;
    margin-left: 165px;
    margin-top: 2.25em;
}


#content h1 {
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
    font-weight: normal;
    font-size: 1.9em;
    padding: 1em 0 0 0;
}

.row1 {
    background-color: #eaf2fa;
}

.module {
    border-color: #dfdfdf;
    background-color: #f9f9f9;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 0 0 1.25em 0;
}

/* app indexes */
.module caption,
fieldset.collapsed h2,
.module h2 {
    background-color: #f1f1f1;
    background-image: -ms-linear-gradient(top,#f9f9f9,#ececec);
    background-image: -moz-linear-gradient(top,#f9f9f9,#ececec);
    background-image: -o-linear-gradient(top,#f9f9f9,#ececec);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f9f9f9),to(#ececec));
    background-image: -webkit-linear-gradient(top,#f9f9f9,#ececec);
    background-image: linear-gradient(top,#f9f9f9,#ececec);
    border-top-color: #fff;
    border-bottom: 1px solid #dfdfdf;
    color: #6d6d6d;
    padding: 0.5em;
    font-size: 1.25em;
    font-weight: normal;
}

.module caption a,
.module h2 a {
    color: #6d6d6d !important;
}


#changelist {
    border: 0;
    background-color: white;
}

#changelist #toolbar {
    background: transparent;
    border: 0;
    float: left;
    margin: 0.4em 0 1em 0;
    padding: 0 2em 0 0;
    clear: both;
}

/* search stuff */

#changelist-search label[for="searchbar"] {
    display: none;
}

#changelist #toolbar form #searchbar {
    padding: 0.25em 0.5em;
}

#changelist-form {
    clear: both;
}

#changelist .paginator {
    border: 0;
    background: white;
    padding: 1em 0;
    margin: 0;
}

#changelist-filter {
    position: inherit;
    z-index: 50;
    width: auto;
    float: left;
    margin: 0.4em 0 1em 0;
    background-color: white;
    border: 0;
    top: 0 !important;
    display: block !important; /* sidestep inline styles for django-CMS */
}

/*#changelist-filter label:hover h3 {*/
    /*color: #21759b;*/
/*}*/

#changelist-filter label:hover h3,
#changelist-filter label:hover select,
#changelist-filter h3 ~ select:focus {
    color: #21759b;;
}

#changelist-filter h2 {
    display: none;
}

#changelist-filter h3 {
    display: inline-block;
    padding: 0;
    margin: 0 0.5em 0 0;
}

#changelist-filter ul {
    display: inline-block;
}

#changelist-filter li {
    display: inline-block;
    color: #464646;
}

#changelist-filter li.selected {
    margin: 0;
    border: none;
    color: #21759b;
    font-weight: bold;
}

#changelist-filter li.selected a {
    color: #21759b;
}

/*.object-tools li {*/
    /*background: transparent;*/
    /*padding: 0;*/
    /*margin: 0;*/
/*}*/

/*.object-tools li a:link,*/
/*.object-tools li a:visited {*/
    /*background: #f1f1f1;*/
    /*color: #21759b;*/
    /*padding: 0.3em 0.4em;*/
    /*margin: 0 0 0 0.5em;*/
    /*font-size: 1.1em;*/
    /*font-weight: normal;*/
    /*height: auto;*/
    /*-webkit-border-radius: 3px;*/
    /*-moz-border-radius: 3px;*/
    /*border-radius: 3px;*/
/*}*/

/* OH GOD WHY! */
.object-tools {
    font-family: 'Lucida Grande', Verdana, Arial, sans-serif;
    margin-top: -2.9em;
    font-size: 11px;
    font-weight: normal;
}

.object-tools li {
    padding: 0;
    margin: 0 0 0 7px;
    height: auto;
}

.object-tools li,
.object-tools li:hover {
    background: none;
}

.object-tools li a:link,
.object-tools li a:visited {
    background: white url('../../admin/img/nav-bg.gif') bottom repeat-x;
    color: black;
    -webkit-border-radius: 11px;
    border-radius: 11px;
    padding: 0.5em 1em;
    color: #888;
    border: 1px solid #ddd;
    display: inline-block;
}

.object-tools a.viewsitelink:link,
.object-tools a.viewsitelink:visited,
.object-tools a.golink:link,
.object-tools a.golink:visited {
    font-weight: bold;
}

.object-tools a.addlink:hover,
.object-tools a.viewsitelink:hover,
.object-tools a.golink:hover {
    border: 1px solid #298cba;
    background: #298cba;
    background: -moz-linear-gradient(top, #298cba 0%, #21759b 80%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#298cba), color-stop(80%,#21759b));
    background: -webkit-linear-gradient(top, #298cba 0%,#21759b 80%);
    background: -o-linear-gradient(top, #298cba 0%,#21759b 80%);
    background: -ms-linear-gradient(top, #298cba 0%,#21759b 80%);
    background: linear-gradient(to bottom, #298cba 0%,#21759b 80%);
    color: white;
}
.object-tools a.viewsitelink:link,
.object-tools a.viewsitelink:visited {
    padding-right: 0.5em;
}

/* forms */
input[type=text],
input[type=password],
textarea,
select,
.vTextField {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 0.3em;
    font-size: 1.1em;
}

.vDateField {
    width: 7em;
}

.submit-row p.deletelink-box {
    margin: 0;
    padding: 0.5em 0;
}

a.deletelink:link, a.deletelink:visited {
    background: none;
    color: #f00;
    border-bottom: 1px solid #f00;
    text-decoration: none;
    padding: 1px 0;
}

.submit-row {
    position: fixed;
    bottom: 0;
    left: 165px;
    right: 15px;
    background: white;
    padding: 0.75em 0;
    margin: 0;
    border: 0;
    border-top: 1px solid #efefef;
}

.form-row:last-child {
    border-bottom: 0;
}

.form-row:hover {
    background-color: #f4f4f4;
}

.form-row:hover .help {
    color: #666;
}

.form-row:hover label.required ~ .help,
.form-row:hover label.required {
    color: #21759b !important;
}

label {
    color: #999;
}

.form-row:hover .required label,
.required label:hover,
label.required:hover {
    color: #666 !important;
}

.help, p.help {
    font-size: 12px !important;
}

/* based on the help font-size, aiming for 70px */
form .aligned p, form .aligned ul {
    margin-left: 5.833em;
}

.button.default,
#changelist .actions .button,
input[type=submit].default,
.submit-row input.default {
    -webkit-border-radius: 11px;
    border-radius: 11px;
    border: 1px solid #298cba;
    padding: 0.5em 2.5em;
    background: #298cba; /* Old browsers */
    background: -moz-linear-gradient(top, #298cba 0%, #21759b 80%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#298cba), color-stop(80%,#21759b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #298cba 0%,#21759b 80%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #298cba 0%,#21759b 80%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #298cba 0%,#21759b 80%); /* IE10+ */
    background: linear-gradient(to bottom, #298cba 0%,#21759b 80%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#298cba', endColorstr='#21759b',GradientType=0 ); /* IE6-9 */
    color: white;
}

.paginator .this-page,
.paginator a.showall,
.button,
input[type=submit],
input[type=button],
.submit-row input {
    -webkit-border-radius: 11px;
    border-radius: 11px;
    padding: 0.5em 1em;
    color: #888;
    border: 1px solid #ddd;
    cursor: pointer;
}


.paginator a:link,
.paginator a:visited {
    border: 0;
    background: white;
    padding: 0.4em 0.3em !important;
    color: #464646;
}

.paginator .this-page,
.paginator a.showall,
.paginator a.showall:hover {
    background: white url('../../admin/img/nav-bg.gif') bottom repeat-x !important;
    padding: 0.4em 0.75em !important;
    border: 1px solid #ddd !important;
    font-size: 11px;
    font-weight: normal;
    color: #21759b;
}

.paginator a:hover {
    background: white;
    color: #21759b;
    border-bottom: 1px solid #21759b;
}

.change-list .filtered .results,
.change-list .filtered .paginator,
.filtered #toolbar,
.filtered div.xfull {
    margin-right: 0 !important;
}

.change-list .filtered {
    min-height: 1em;
    background: white !important;
}

.results {
    border: 1px solid #dfdfdf;
}

#changelist .actions {
    background-position: 0 0;
    background-color: #f9f9f9;
    background-image: -ms-linear-gradient(top,#f9f9f9,#ececec);
    background-image: -moz-linear-gradient(top,#f9f9f9,#ececec);
    background-image: -o-linear-gradient(top,#f9f9f9,#ececec);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f9f9f9),to(#ececec));
    background-image: -webkit-linear-gradient(top,#f9f9f9,#ececec);
    background-image: linear-gradient(top,#f9f9f9,#ececec);
    border: 1px solid #dfdfdf;
    border-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-right: 0 !important;
    margin: 0.4em 0 0 0;
}

#changelist .actions .button,
#changelist #toolbar form input[type="submit"] {
    padding: 0.25em 1em;
}


fieldset.collapsed {
    opacity: 0.4;
}

.selector .selector-available h2,
.selector .selector-chosen h2 {
    font-size: 1em;
}

.field-box .vCheckboxLabel {
    display: inline-block;
    padding-right: 3px;
    width: auto;
}

.aligned .vCheckboxLabel {
    float: left !important;
    display: block;
    padding-left: 0;
}

.icon-list-alt {
    float: right;
    font-size: 130%;
    padding-right: 0.4em;
}

.icon-angle-right {
    /*float: right;*/
    /*font-size: 120%;*/
}

.action-checkbox-column,
.action-checkbox {
    background: #ececec;
    /*padding: 0;*/
}

.action-checkbox-column input,
.action-checkbox input {
    padding: 0;
    font-size: 1.5em;
}

.selected .action-checkbox {
    background-color: #FFFFCC;
}

#recent-actions-module {
    display: none;
}

